<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eMISA_Xtend -->
      <package
            uri="http://www.example.org/eMISA_Xtend"
            class="eMISA_Xtend.EMISA_XtendPackage"
            genModel="model/eMISA_Xtend.genmodel"/>
   </extension>

</plugin>
